<div class="container mt-5 ">
    <div class="row justify-content-end text-white">
        <div class="col-md-12 ">
            <div class="col-12 text-center"> <!-- Placar do Jogador -- Inicio -->
                <h4>Acertos</h4> 
                <h1> {{placar}} / {{questoes.length}} </h1>
            </div> <!-- Placar do Jogador -- Fim -->
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 ">
            <div class="row border-bottom m-1 p-2 text-white" >
                {{questao.pergunta}}
            </div>

            <div class="m-auto">
                <div class="row  m-1 p-2 ">
                    <button type="button" value="1" class=" btn btn-block btn-primary m-1" (click)="responder($event)"> {{questao.resposta1}} </button>
                </div>

                <div class="row  m-1 p-2 ">
                    <button type="button" value="2" class=" btn btn-block btn-primary m-1" (click)="responder($event)" > {{questao.resposta2}} </button>
                </div>

                <div class="row  m-1 p-2  ">
                    <button type="button" value="3" class=" btn btn-block btn-primary m-1" (click)="responder($event)"> {{questao.resposta3}} </button>
                </div>
            </div>
        </div>
    </div>
</div>
